
// Mixins
@import "vendor/materialize";
@import "vendor/prism";

// Add our custom build of frojs.chat.sass
@import "frojs.chat";

html, body {
    height: 100%;
    font-size: 100%;
    margin: 0;
}

// Correction for sticky footer
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: color("grey", "darken-4");
    color: color("grey", "lighten-2");
}

// Correction for sticky footer
main {
    flex: 1 0 auto;
}

nav .brand-logo img {
    height: 64px;
    padding: 10px;
}

// Global fix for material icons not aligning with content
i.material-icons {
    vertical-align: middle;
    padding-bottom: 1px;
}

#frojs-logo {
    position: fixed;
    z-index: 1000;

    img {
        @include transition(all .3s);
        padding: 10px;
        height: 64px;
    }

    &.large img {
        height: 75px;
        margin: 10px;
    }
}

.clickthrough {
    pointer-events: none;
    // TODO: IE support crap
}

#fro-canvas {
    @include transition(all 0.3s);
    outline: none;
    background: #91B865;

    &:focus {
        outline: none;
    }

    &.outline {
        outline: 1px solid black;

        &:focus {
            outline: 1px solid rgba(46, 125, 50, 0.5);
        }
    }
}

#fro-container {
    position: relative;
    width: 100%;
    height: 300px;

    h1 {
        position: absolute;
        
        font-size: 3rem;
        background: rgba(0,0,0,0.6);
        color: #FFFFFF;
        padding: 0.25rem;
        left: 2rem;
        vertical-align: top;

        img {
            height: 0.8em;
            padding-left: 0.1em;
        }
    }

    h2 {
        position: absolute;
        top: 5rem;
        font-size: 1.5rem;
        background: rgba(0,0,0,0.6);
        color: #FFFFFF;
        padding: 0.25rem;
        left: 2rem;
    }

    #fps-container {
        position: absolute;
        top: 10px;
        right: 10px;
        background: rgba(0, 0, 0, 0.6);
        color: #FFF;
        padding: 2px;

        font-size: 0.8em;
    }

    #fps {
        font-size: 2em;
    }

    #fro-canvas {
        width: 100%;
        height: 100%;
    }

    #controls-hint {
        position: absolute;
        right: 10px;
        bottom: 10px;

        .keyboard-row {
            text-align: center;
        }

        .keyboard-key {
            display: inline-block;
            border: 3px solid #FFFFFF;
            border-radius: 14px;
            width: 4rem;
            height: 4rem;
            font-size: 2rem;
            text-align: center;
            padding-top: 0.4rem;
            color: #FFFFFF;
            margin: 0.25rem;
        }
    }

    #focus-hint {
        position: absolute;
        right: 10px;
        bottom: 10px;
        vertical-align: top;
        background: rgba(0, 0, 0, 0.6);
        padding: 0.5rem;
    }
}


#download {
    text-align: center;

    .btn-large {
        font-size: 2rem;
        height: 5rem;
        line-height: 5rem;
        margin: 0.5rem;

        i.material-icons {
            font-size: 3rem;
        }

        &.github {
            padding: 0.5rem 1rem;

            img {
                height: 2.5rem;
            }
        }
    }

    .download-size {
        color: rgba(255,255,255,0.6);
    }

    @media (max-width : 1270px) {
        .download-size {
            display: none;
        }
        .btn-large i.material-icons {
            display: none;
        }
    }
}

// Custom chat theme to match the frojs site
.frojs-chat {
    .header {
        background-color: #2E7D32;
        border-color: #37474f;
    }

    .input-container-wrap {
        background-color: #2E7D32;
        border-color: #2E7732;

        input {
            color: #FFF;
            border-color: #607d8b;

            &:focus {
                border-color: #ffab40;
            }
        }
    }

    .output-container {
        background-color: rgba(0, 0, 0, 0.5);

        p {
            color: #FFF;
        }
        span.timestamp {
            color: #CCC;
        }
        span.actor-name {
            color: #ffab40;
        }
        a {
            color: #039be5;
            &:hover, &:active {
                color: lighten(#039be5, 10%);
            }
        }
    }

    .resizer {
        background: repeating-linear-gradient( 135deg, transparent, transparent 3px, #90a4ae 5px, #90a4ae 1px );
    }
}

// demo.html content
#demo-container {
    position: relative;
    max-width: 992px;

    #demo-header {
        line-height: 3rem;
        margin-top: 1rem;

        input {
            width: 50%;
            margin-left: 0.5em;
        }
    }

    #chatbox {
        position: absolute;
        bottom: 50px;
        left: 25px;

        // Override for some styles to match our own UI
        .output-container {
            font-family: "Roboto", sans-serif;
        }
    }

    #network-error {
        position: absolute;
        right: 1em;
        top: 3em;

        i.material-icons {
            font-size: 4em;
        }
    }
}

// developers.html content
.col.guide {
    background-color: #333333;
    border: 1px solid #000000;
    margin-top: 2rem;

    h3 {
        margin-top: 0;
    }

    .section {
        border-top: 1px solid #444;
        
        &:first-child {
            border-top: none;
        }

        th {
            text-transform: uppercase;
            font-weight: 300;
        }

        thead {
            border-bottom: 1px solid #444;
        }
    }
}

ul.table-of-contents {
    padding-left: 1rem;
}

